In [1]:
import requests
import pandas as pd
from zipfile import ZipFile
from io import BytesIO

In [2]:
req = requests.get('https://www1.nyc.gov/assets/planning/download/zip/data-maps/open-data/nyc_pluto_21v4_csv.zip')
files = ZipFile(BytesIO(req.content))

In [3]:
address = '464 PULASKI STREET'

In [4]:
df = (pd.read_csv(files.open('pluto_21v4.csv'), low_memory=False)[lambda x: x['address'] == address])

In [5]:
cols = ['address', 'zipcode', 'ownername', 'yearbuilt', 'yearalter1', 'yearalter2',
        'ownertype', 'bldgclass', 'unitsres', 'assessland', 'assesstot']

df = df.loc[:, cols]

In [6]:
df.set_axis(['Address', 'Zip Code', 'Owner', 'Year Built', 'Year Altered 1', 'Year Altered 2', 
             'Owner Type', 'Building Class', 'Units', 'Assessed Land Value', 'Total Assessed Value'],
            axis=1, inplace=True)

In [7]:
df

,Address,Zip Code,Owner,Year Built,Year Altered 1,Year Altered 2,Owner Type,Building Class,Units,Assessed Land Value,Total Assessed Value
390991,464 PULASKI STREET,11221.0,PULASKI 464 CORP.,1931.0,0.0,0.0,NaN,C1,8.0,8100.0,284130.0