## NYC Building Information Lookup
For determining if a building meets rent stabilization requirements  
Primarily, built before 1974 and has at least 8 units*  
######  

![Tux, the Linux mascot](https://rentguidelinesboard.cityofnewyork.us/wp-content/uploads/2019/08/RGB_logo.svg)

[Buildings That Contain Rent Stabilized Units](https://rentguidelinesboard.cityofnewyork.us/resources/rent-stabilized-building-lists)  
[Data and Data Dictionary](https://www1.nyc.gov/site/planning/data-maps/open-data/dwn-pluto-mappluto.pagem)

*There were some rent amount exceptions before the 2019 rental law (see 1st link above)

In [1]:
import requests
import pandas as pd
from zipfile import ZipFile
from io import BytesIO

In [2]:
req = requests.get('https://www1.nyc.gov/assets/planning/download/zip/data-maps/open-data/nyc_pluto_21v4_csv.zip')
files = ZipFile(BytesIO(req.content))

## Enter the address of the building, with only street number and in all caps with full street type

### Examples:

1825 EAST 8 STREET  
235 1 AVENUE  
413 45 STREET  
196 BARNARD AVENUE  
108 PARK TERRACE EAST  
45-26 BAYVIEW AVENUE

In [3]:
address = 'ENTER ADDRESS HERE'

In [4]:
df = (pd.read_csv(files.open('pluto_21v4.csv'), low_memory=False)[lambda x: x['address'] == address])

In [5]:
cols = ['address', 'zipcode', 'ownername', 'yearbuilt', 'yearalter1', 'yearalter2',
        'ownertype', 'bldgclass', 'unitsres', 'assessland', 'assesstot']

df = df.loc[:, cols]

In [6]:
df.set_axis(['Address', 'Zip Code', 'Owner', 'Year Built', 'Year Altered 1', 'Year Altered 2', 
             'Owner Type', 'Building Class', 'Units', 'Assessed Land Value', 'Total Assessed Value'],
            axis=1, inplace=True)

In [7]:
df

,Address,Zip Code,Owner,Year Built,Year Altered 1,Year Altered 2,Owner Type,Building Class,Units,Assessed Land Value,Total Assessed Value
513711,92 2 AVENUE,10003.0,92 SECOND AVE LLC,1904.0,1983.0,0.0,NaN,C7,20.0,355500.0,2363850.0